:root {
  color-scheme: light;
  --background: #fff;
  --background-app: #f9f9f9;
  --foreground: #333;
  --foreground-secondary: #666;
  --foreground-tertiary: #999;
  --surface: #fff;
  --secondary: #fcfcfc;
  --tertiary: #f1f1f1;
  --border: #f1f1f1;
  --border-strong: #d6d6d6;
  --primary: #333;
  --primary-foreground: #fff;
  --link: #465fd5;
  --destructive: #be3c39;
  --success: #338f52;
  --warning: #99751e;
  --focus: #333;
  --radius-sm: 4px;
  --radius-md: 8px;
  --shadow-elevation-1: 0 2px 4px rgb(0 0 0 / 4%), 0 0 4px rgb(0 0 0 / 8%);
  --font-sans: Inter, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
  --font-size-label: .769rem;
  --font-size-caption: .923rem;
  --font-size-body: 1rem;
  --font-size-heading-sm: 1.231rem;
  --font-size-heading-md: 1.538rem;
}
