.actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2);
}

.actions--above {
  margin-bottom: var(--spacing-4);
}

.actions--below {
  margin-top: var(--spacing-4);
}
